$border: solid;
$px: 5px;

%fuckthis {
	margin: $px auto;
	padding: $px;
	border-style: $border;
}

#box {
	@extend %fuckthis;
	nav {	
		width: 150px;
		text-align: left;
	}
	section {
		width: 250px;
		text-align: left;
	}
}


@media (max-width: 499px) {
	body {
		background-color: black;
		color: white;
	}
	img {
		filter: invert(100%);
	}
	a {
		color: white;
		font-weight: underline;
	}
}


@media (min-width: 499px) {
	a {
		color: black;
		font-weight: underline;
	}
}


#centershit {
	text-align: center;
	border-style: $border;
	margin: 5px;
}

#anothercontainer {
	margin: 5px;
	border-style: $border;
}

#box {
	display: flex;
	flex-wrap: wrap;
}

footer::after {
	content: "Quarantime Liquors is not a real business but it should be. This website is neither designed to accept moneys nor to be taken seriously by anyone. Thank you for your consideration.";
}

footer {
	margin: 5px;
	padding: 5px;
	border-style: $border;
}

img {
	width: 60%;
	height: auto;
}

th, td {
	text-align: center;
}